.Popular {
  padding-left: 4em;
  padding-right: 5em;
}
.Popular h3{
  font-family: serif;
  font-size: 2em;
  font-style: italic;

}

.Popular h3:hover {
  text-decoration: underline;
}

.Popular p:hover {
  text-decoration: underline;
}
