.ShortReads {
  display: grid;
  grid-template-columns: 15em 30em 15em auto;
  grid-template-rows: 40vh auto;
}

.ShortReads .image-container {
  margin: 1em 0 1em 0;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 30em;
  height: 40vh;
  background-color: #5ac2ed;
  display: flex;
  justify-content: center;
}

.ShortReads .image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.ShortReads .title {
  height: auto;
  align-self: flex-end;
  vertical-align: bottom;
}

.ShortReads .body {
  margin: 4em 0 1em 0;
  grid-column: 2/3;
  text-align: justify;
  line-height: 1.5em;

}



.ShortReads .quote {
  grid-column: 2/3;
}
