.ImageBox {
    display: flex;
    /* background-color: mediumaquamarine; */
    width: 20%;
    padding: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.ImgContainer {
  height: 70%;
}

.ImgContainer img {
  max-height: 50%;
  width: auto;
}
